:host {
  display: block;
}

.cdk-drop-list-receiving {
  border-color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

.cdk-drag-preview {
  box-shadow: var(--mat-sys-level3);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}
