:host {
  display: block;
}

.column-tab-content {
  display: grid;
  gap: 0.5rem;
  padding: 1.25rem 1rem 1rem;
}

.column-tab-actions {
  display: flex;
  justify-content: flex-end;
}

.checkbox-grid {
  display: grid;
  gap: 0.25rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
